body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

.notes {
    padding-top: 7px;
}

.car {
    width: 300px;
}

.middle-car {
    margin-left: 10px;
    margin-right: 10px;
}