table {
    width: 100%;
}

th {
    text-align: center;
    border: 1px solid black;
}
td {
    text-align: center;
    border: 1px solid black;
    background-color: red;
}

li {
    width: fit-content;
}

.empty {
    background-color: white;
    border: none;
}

.short {
    border: 2px solid orange;
}

.cancelled {
    background-color: red;
}